.description {
  font-size: 16px; /* Tamaño de fuente más pequeño */
  margin-top: 10px; /* Espaciado superior */
}
@media only screen and (max-width: 425px) {
  .description {
    font-size: 12px; /* Tamaño de fuente más pequeño */
    width: 95%; /* Ancho del botón al 100% del contenedor */
    }
}

.title {
  font-size: 28px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
}

.download-button {
  margin-top: 20px; /* Espacio superior entre la descripción y el botón */
  margin-bottom: 35px; /* Espacio inferior entre el botón y los tags */
  width: 90%; /* Ancho del botón al 100% del contenedor */
  background-color: #FC544A; /* Color de fondo del botón */
  border-color: #FC544A; /* Color del borde del botón */
}

.download-button:hover {
  background-color: #d33a2c; /* Cambia el color de fondo al pasar el ratón por encima */
  border-color: #d33a2c; /* Cambia el color del borde al pasar el ratón por encima */
}

.image-column {
  margin-left: 20px; /* Agrega margen a la izquierda para mover la imagen a la derecha */
}

.additional-images-container {
  display: flex;
  justify-content: space-between; /* Distribuye las imágenes de manera uniforme en el contenedor */
  margin-top: 20px; /* Ajusta el valor según sea necesario */
}


.additional-image {
  width: 100px; /* Ajusta el tamaño de las imágenes adicionales según sea necesario */
  cursor: pointer; /* Cambia el cursor a una mano al pasar sobre las imágenes */
  width: 135px; /* Ajusta el tamaño deseado */
  border-radius: 8px; /* Ajusta el valor de redondez */
}

.additional-image.selected {
  border: 2px solid #FC544A;
  border-radius: 8px;
}

.cover-image {
  border-radius: 10px; /* Puedes ajustar el valor según tus preferencias */
}

.custom-list {
  list-style-type: disc; /* Cambia el estilo del punto de lista a un círculo */
  margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
}

.custom-list li {
  margin-bottom: 5px; /* Agrega un pequeño espacio entre cada elemento de la lista */
}

.tags-categories {
  margin-bottom: 10px;
}

.tag-list,
.category-list {
  display: flex;
  flex-wrap: wrap;
}

.tag,
.category {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.tag:hover,
.category:hover {
  background-color: #f0f0f0;
}

.separator {
  width: 100%;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.tags-categories-button,
.categories-button {
  color: #888; /* Cambia el color del texto a gris */
  text-decoration: none; /* Elimina el subrayado */
}

.tags-categories-button:hover,
.categories-button:hover {
  color: #555; /* Cambia el color del texto al pasar el mouse por encima */
}
.tags-categories-button.active,
.categories-button.active {
    color: #FC544A; /* Cambia el color del texto a rojo */
}


.down-buttons {
  margin-bottom: 45px; /* Espacio inferior entre el botón y los tags */
  width: 42.75%; /* Ancho del botón al 100% del contenedor */
  background-color: #888; /* Color de fondo del botón */
  border-color: #888; /* Color del borde del botón */
}

.down-buttons:hover {
  background-color: #777; /* Cambia el color de fondo al pasar el ratón por encima */
  border-color: #777; /* Cambia el color del borde al pasar el ratón por encima */
}

/* Añade margen derecho al primer botón y margen izquierdo al segundo botón */
.d-flex .down-buttons:first-child {
  margin-right: 20px;
}

.d-flex .down-buttons:last-child {
  margin-left: 20px;
}



@media only screen and (max-width: 768px) {
  .content-column {
      margin-top: 20px; /* Agrega un espacio superior en dispositivos móviles */
  }

  .additional-images-container {
      margin-top: 10px; /* Reduce el margen superior en dispositivos móviles */
  }

  .additional-image {
      width: 55px; /* Reduce el tamaño de las imágenes adicionales en dispositivos móviles */
  }

  .download-button {
      width: 100%; /* Ajusta el ancho del botón de descarga al 100% en dispositivos móviles */
      margin-top: 20px; /* Agrega espacio superior entre la descripción y el botón de descarga */
      margin-bottom: 20px; /* Reduce el espacio inferior entre el botón de descarga y los tags */
  }

  .tags-categories-wrapper {
      margin-top: 20px; /* Agrega un espacio superior entre el botón de descarga y las etiquetas/categorías */
  }
}

@media only screen and (max-width: 425px) {
  .additional-images-container .additional-image {
      width: 92px; /* Ajusta el tamaño de las imágenes adicionales en dispositivos con un ancho de 425px */
  }

  .additional-images-container {
      margin-bottom: 25px; /* Ajusta el margen inferior entre las imágenes y el título "Lanterns Enhanced" */
  }
}

@media only screen and (max-width: 375px) {
  .additional-images-container .additional-image {
      width: 78px; /* Ajusta el tamaño de las imágenes adicionales en dispositivos con un ancho de 375px */
  }
}

@media only screen and (max-width: 320px) {
  .additional-images-container .additional-image {
      width: 68px; /* Ajusta el tamaño de las imágenes adicionales en dispositivos con un ancho de 320px */
  }
}

.tags-categories-button:focus,
.tags-categories-button:active,
.categories-button:focus,
.categories-button:active {
    outline: none; /* Elimina el borde de enfoque */
    color: #FC544A; /* Mantiene el color del texto en gris */
}
