.wrapper {
    padding: 70px 0;
    width: 70%;
    margin: auto;
    overflow-x: hidden !important;
}


.main-brand {

    background-color: rgba(187, 179, 179, 0.5);
    /* width: 100%; */
    /* padding: 0; */
    /* margin: 0; */
    position: relative;
    top: 50px;
}

.my-slider {
    padding: 0 70px;
}

.slick-initialized .slick-slide {
    /* background-color: #b32532; */
    color: #FFF;

    height: 200px;
    /* margin: 0 15px 0 0; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.slick-next,
.slick-prev {
    z-index: 5;
}

.slick-next {
    right: 15px;
}

.slick-prev {
    left: 15px;
}

.slick-next:before,
.slick-prev:before {
    color: #000;
    font-size: 26px;
}