.main-statistics {
    height: auto;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #FC544A;
    margin:0% 0px;
    text-align: center;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
@media (max-width: 320px) {
    .views-div {
      flex-direction: column; /* Cambia la dirección de los elementos a columnas */
      align-items: flex-start; /* Alinea los elementos a la izquierda */
      text-align: left; /* Alinea el texto a la izquierda */
      margin-top: 2;
    }
}
@media (max-width: 320px) {
    .main-statistics {
      padding: 2rem 1rem; /* Ajusta el relleno del contenedor */
      width: calc(100% + 2rem); /* Ajusta el ancho del contenedor para expandirse más allá del viewport */
      margin-left: 0rem; /* Corrige el desplazamiento del contenido */
      margin-right: -4rem; /* Corrige el desplazamiento del contenido */
      height: 75vh;
      
    }
  }

.outlined-text {
    font-size: 10rem;
    font-family: BebasNeueRegular.ttf;
    text-transform: uppercase;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.3);
    background-color: transparent;
    color: #FC544A;
    position: relative;
    left: 0px;
    transform: translate(0%, -50%);
}


.filled-text {
    font-size: 2rem;
    padding-top: -15%;
    text-align: center;
    color: white;
    position: relative;
    /* top: 80%; */
    /* left: 10%; */
    transform: translate(0%, 50%);
    z-index: 1;
}
@media only screen and (max-width: 320px){
    .filled-text {
        font-size: 3rem;
        padding-top: -15%;
        padding-right: 11em;
        text-align: left;
        color: white;
        position: relative;
        transform: translate(0%, 50%);
        z-index: 1;
    }
}


.filled-text p {
    font-size: 1.05rem;
    font-weight: 100;
    text-align: center;
    position: relative;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.views-div {
    width: 60%;
    margin: auto;
    justify-content: space-around !important;
    font-weight: 900;
    margin-top: 2em;
}
@media only screen and (max-width: 1201px) {
    .views-div {
        text-align: left;
        width: 60%;
        margin: auto;
        justify-content: space-around !important;
        font-weight: 900;
        margin-top: 16em;
    }
}
.stats-text {
    font-size: 1.0rem;
    font-weight: 500;
    height: 2.5em;
    text-align: center;
    position: relative;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
@media only screen and (max-width: 320px) {
    .views-div {
        text-align: left;
        width: 60%;
        margin: auto;
        justify-content: space-around !important;
        font-weight: 600;
        margin-top: 16em;
    }
}
.views-div>div {
    width: 20%;
}

/* Media Query for smaller screens */

@media only screen and (max-width: 1201px) {
    .outlined-text {
        font-size: 6.5rem;
        top: -30%;
    }

}

@media only screen and (max-width: 900px) {
    .outlined-text {
        font-size: 4.5rem;
        top: -30%;
    }

}

@media only screen and (max-width: 800px) {
    .outlined-text {
        font-size: 4.5rem;
        top: -30%;
    }

}

@media only screen and (max-width: 1001px) {
    .outlined-text {
        font-size: 6.0rem;
        top: -25%;
    }

}



@media only screen and (max-width: 601px) {
    .outlined-text {
        font-size: 1.0rem;
        top: -30%;
    }

}

@media only screen and (max-width: 768px) {
    .outlined-text {
        font-size: 0.2rem;
        top: -100%;
    }

}
@media only screen and (max-width: 1201px) {
    .filled-text {
        top: -65%;
    }

}

@media only screen and (max-width: 768px) {
    .filled-text {
        top: -20%;
    }

}

@media only screen and (max-width: 1001px) {
    .filled-text {
        top: -50%;
    }

}

@media only screen and (max-width: 800px) {
    .filled-text {
        top: -50%;
    }

}

@media only screen and (max-width: 601px) {
    .filled-text {
        font-size: 0.3em;
        top: -50%;
    }

}
@media only screen and (max-width: 401px) {
    .filled-text {
        font-size: 6.5rem;
        top: -50%;
    }
}

@media only screen and (max-width: 768px) {
    .views-div {
        width: 80%;
        padding-top: -10%;
        /* flex-direction: column; */
        align-items: center;
        /* position: relative; */
        top: -100%;
        /* transform: translateY(20%); */
        text-align: center;
    }

    .views-div>div {
        margin: 2% 0px;
    }

    .outlined-text {
        font-size: 5.0rem;
        top: -25%;
    }

    .filled-text {
        font-size: 1.55rem;
        transform: translate(0%, 50%);
        /* left: 50%; */
        /* transform: translate(-50%, 0); */
        z-index: 2;
        /* Bring the filled text forward */
        position: relative;
    }
}

@media only screen and (max-width: 900px) {
    .outlined-text {
        font-size: 4.5em;
        top: -30%;
    }

}
@media only screen and (max-width: 800px) {
    .outlined-text {
        font-size: 4.5em;
        top: -30%;
    }

}
@media only screen and (max-width: 650px) {
    .outlined-text {
        font-size: 4.0em;
        top: -33%;
    }

}
@media only screen and (max-width: 590px) {
    .outlined-text {
        font-size: 3.7em;
        top: -33%;
    }

}
@media only screen and (max-width: 555px) {
    .outlined-text {
        font-size: 3.5em;
        top: -33%;
    }

}
@media only screen and (max-width: 520px) {
    .outlined-text {
        font-size: 3.3em;
        top: -33%;
    }

}
@media only screen and (max-width: 500px) {
    .outlined-text {
        font-size: 3.3em;
        top: -33%;
    }

}
@media only screen and (max-width: 485px) {
    .outlined-text {
        font-size: 3.0em;
        top: -35%;
    }

}
@media only screen and (max-width: 440px) {
    .outlined-text {
        font-size: 2.9em;
        top: -33.5%;
    }

}
@media only screen and (max-width: 415px) {
    .outlined-text {
        font-size: 2.6em;
        top: -33.5%;
    }

}
@media only screen and (max-width: 401px) {
    .outlined-text {
        font-size: 2.6em;
        top: -36%;
    }

}
@media only screen and (max-width: 375px) {
    .outlined-text {
        font-size: 2.5em;
        top: -33.5%;
    }

}
@media only screen and (max-width: 360px) {
    .outlined-text {
        font-size: 2.4em;
        top: -33.5%;
    }

}
@media only screen and (max-width: 340px) {
    .outlined-text {
        font-size: 2.3em;
        top: -33.5%;
    }

}
@media only screen and (max-width: 320px) {
    .outlined-text {
        letter-spacing: -1.0px;
        font-size: 3.5em;
        text-align: left;
        margin-right: 0.3em;
        margin-top: -3em;
        top: -33.5%;
    }

}

.text-btn-div {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    text-align: center;
    border: 14px solid #FFF;
    padding: 10px;
    border-radius: 12px;
    background-color: #FFF;
    margin-top: -8.2em;
  }
  
@media (max-width: 320px) {
    .text-btn-div {
        margin-top: -11.5em; /* Ajusta el margen inferior para mover el elemento hacia arriba */
    }
  }

/* btn ready to start */
@media only screen and (max-width: 1000px) {
    .ready-to-start p {
    width: 5.5em;
    font-weight: 500;
    font-size: 1.05em;
    left: 1.2em;
    }
  
}
@media only screen and (max-width: 800px) {
    .ready-to-start p {
    width: 5.5em;
    font-weight: 500;
    font-size: 1.05em;
    }
  
}

@media only screen and (max-width: 700px) {
    .ready-to-start p {
    width: 17em;
    }
}
@media only screen and (max-width: 500px) {
    .ready-to-start p {
    width: 17em;
    }
}
.ready-to-start {
    margin-left: 1em;
    text-align: center;
    background-color: #FC544A;
    border: 1px solid #FFF;
    padding: 5px;
    position: relative;
    width: 7.5em;
    height: 2em;
    transition: 0.5s;
    font-weight: 500;
    font-size: 1.35em;
    border-radius: 0.6em;
    left: 0.2em;
  }
.ready-letter:hover {
    color: #FC544A;
  }

@media only screen and (max-width: 320px) {
    .ready-to-start {
        text-align: center;
        align-items: center;
        background-color: #FC544A;
        border: 1px solid #FFF;
        padding: 5px;
        position: relative;
        width: 7.5em;
        height: 2em;
        transition: 0.5s;
        font-weight: 500;
        font-size: 1.5em;
        border-radius: 0.6em;
        left: 0.2em;
        
    }
}
.ready-letter{
    color: #FFF;
}

  .ready-to-start p {
    position: absolute;
    
    top: 0.12em;
    left: 1.2em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #FFF;
    
  }
  
  .ready-to-start .left-icon {
    position: absolute;
    
    top: 0.6em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #FC544A;
  }
  
  .ready-to-start:hover p {
    left: 0.6em;
    color: #FC544A
    
  }
  
  .ready-to-start:hover .left-icon {
    opacity: 1;
    color: #FC544A;

  }
  
  .ready-to-start:hover {
    color: #FC544A;
    background-color: #FFF;
    
  }
  
  .text-div {
    
    font-size: 27px;
    font-weight: 600;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 401px) {
    .text-div {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
    }
}


@media only screen and (max-width: 401px) {
    .text-div {
        font-size: 17px;
        font-weight: 600;
        text-transform: uppercase;
    }
}
