.main-work-div {
    padding: 40px;
    background-color: white;
    /* height: 40vh; */
    display: flex;
    /* padding-bottom: 5%; */
    flex-direction: column;
    width: 50%;
    margin: auto;
    position: relative;
    top: -50px;
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media only screen and (max-width: 401px) {
    .main-work-div {
        padding: 27.5px;
        width: 20em;
    }
  
}

/* heading */
.work-head {
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    
    padding: 5px 0px;

    align-items: center;
    /* margin: auto; */
}
@media only screen and (max-width: 401px) {
    .work-head {
    font-size: 1.05em;
    }
  
}




/* imges */
.work-img {
    display: flex;
    justify-content: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    overflow: hidden; /* Añade un overflow: hidden al contenedor */
    border-radius: 13px; /* Ajusta el valor de border-radius según tus preferencias */
    /*gap: 2px; */
    /* Adjust the gap as needed */
}



.grid-container div {
    width: 100%;
    position: relative;
    overflow: hidden; /* Añade un overflow: hidden al contenedor de cada imagen */
    /* Make each grid item take 100% width of its container */
}


/* btn */
.work-btn-div {
    margin: auto;
    text-align: center !important;
    margin: 1% auto;

}


/* .work-btn{
    width: 70%;
} */


.work-btn {
    width: relative;
    margin: auto;
    background-color: #FC544A;
    border: 1px solid #FFF;
    padding: 5px;
    position: relative;
    height: 2.5em;
    transition: 0.5s;
    font-weight: 500;
    font-size: 17px;
    border-radius: 0.4em;
    justify-content: center;

}


.work-btn p {

    transition: .5s;
    color: #FFF;
}

.work-btn .left-icon {
    position: absolute;
    
    top: 0.5em;
    right: 0em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #FC544A;
}

.work-btn:hover p {
    
    left: 0.8em;
    color: #FC544A;
    margin-bottom: 1em;

}

.work-btn:hover .left-icon {
    
    opacity: 1;
    color: #FC544A;

}

.work-btn:hover {
    
    background-color: #FFF;
    color: #FC544A;
}


/*.grid-container img {
    border-radius: 20px 20px 20px 20px;

}*/

.grid-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Añade una transición para suavizar el cambio */
}

.grid-container img:hover {
    transform: scale(1.1); /* Un pequeño aumento de escala al pasar el ratón para un efecto adicional */
    color: #FC544A;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Ajusta la opacidad y el color según tus preferencias */
    transition: background 0.3s ease-in-out; /* Añade una transición para suavizar el cambio */

}

.grid-container div:hover .image-overlay {
    background: rgba(0, 0, 0, 0); /* Al pasar el ratón, la opacidad se reduce a 0 */
    color: #FC544A;
}

.grid-container div:hover img {
    transform: scale(1.1); /* Un pequeño aumento de escala al pasar el ratón */
    color: #FC544A;
}

.portfolio {
    color: white;
    margin-left: 0.75em;
    margin-right: 0.75em;
}

.portfolio:hover {
    color: #FC544A;
    margin-left: 0.75em;
    margin-right: 0.75em;
}
